@import "tailwindcss";

:root {
  --background: #faaf00;
  --background-light: #f5c24b;
  --foreground: #140f00;
}

@theme inline {
  --breakpoint-2xs: 25rem; /* 400px */
  --breakpoint-xs: 32rem; /* 512px */
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --animate-side-bounce: side-bounce 1s infinite;
}

[data-theme="dark"] {
  --background: #140f00;
  --foreground: #faaf00;
}

html {
  font-family: monospace;
  font-size: 16px;
}

h2.home-page {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline 5% dotted var(--foreground);
  text-underline-offset: 20%;
}

h2.portfolio-item {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}

@keyframes side-bounce {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateX(-25%);
  }

  50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
  }
}

.icon-button { 
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  display: inline-flex; 
}

.screenshot-box {
  border-radius: 1rem;
  background-color: var(--background);
  border: 6px solid var(--background);
  outline: 2px solid var(--foreground);
  box-shadow: 4px 4px 0px 2px var(--foreground);
 }

 /* tailwind sm breakpoint */
@media (min-width: 40rem) {
  .screenshot-box {
    border: 10px solid var(--background);
   }
}

/* tailwind lg breakpoint */
@media (min-width: 64rem) {
   .screenshot-box {
    border: 12px solid var(--background);
   }
}
